.user-container {
  padding: 15px;
  width: calc(100vw - 75px);
}

.bar-nav-container {
  padding: 0 10px 0 10px;
  align-items: center;
}

.bar-description {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.bar-description h5 {
  font-size: 14px;
  margin-left: 15px;
}

.adduser-action h5 {
  display: none;
}

.adduser-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  min-height: 100%;
}

.adduser-action-item {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.button-input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #363636;
  border: none;
  width: 100%;
  height: 100%;
}

.button-input:hover {
  background-color: #474542cb;
}

.bar-icon {
  width: 30px;
}

.formcad-container {
  margin-top: 10px;
  padding: 20px 10px 10px 10px;
  height: 500px;
  overflow: auto;
}

.formcad-container input {
  border-radius: 8px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
  border: none;
}

.input-select {
  padding-left: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  width: 100%;
  border-radius: 10px;
  height: 30px;
}

.input-image-container {
  border-radius: 10px;
  width: 100%;
  height: 170px;
  background-color: dimgrey;
  margin-top: 10px;
}

@media (min-width: 576px) {
  .bar-nav-container {
    width: calc(100vw - 230px);
  }

  .user-container {
    padding: 15px;
    width: calc(100vw - 230px);
    display: flex;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .adduser-action-item {
    padding-left: 20px;
    max-width: 120px;
  }
  .adduser-action h5 {
    display: unset;
    font-size: 14px;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
  }
  .formcad-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px 20px 20px 10px;
  }

  .formcad-container input {
    margin-left: 10px;
    height: 35px;
    font-size: 12px;
  }

  .input-container {
    display: flex;
    margin-bottom: 15px;
  }

  .input-select {
    margin-left: 10px;
    font-size: 12px;
    width: 100%;
    border-radius: 8px;
    height: 35px;
  }

  .input-image-container {
    margin: 0 0 0 20px;
    width: 200px;
    height: 180px;
    border-radius: 10px;
  }

  .input-numero {
    max-width: 70px;
  }

  .input-bairro {
    max-width: 200px;
  }

  .input-estado {
    max-width: 200px;
  }
}

@media (min-width: 992px) {
  .bar-nav-container {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
  }

  .bar-description {
    border-bottom: none;
    margin-bottom: 0;
  }

  .adduser-action-item {
    padding-left: 10px;
    margin-left: 30px;
  }
  .formcad-container {
    justify-content: space-evenly;
  }

  .inputs-card-container {
    width: calc(100vw - 500px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
  }
}

@media (min-width: 1200px) {
  .formcad-container {
    max-width: 1000px;
  }

  .inputs-card-container {
    width: 700px;
  }

  .input-image-container {
    margin-left: 30px;
  }
}

@media (min-width: 1400px) {
  .user-container {
    width: 1000px;
  }
}
