.carduser-container {
  margin: 10px 0 0 10px;
  width: calc(100vw - 95px);
  display: flex;
  align-items: center;
  height: 60px;
}

.carduser-img-container img {
  width: 30%;
}

.carduser-img-container img {
  width: 65px;
  border-radius: 10px 0 0 10px;
}

.carduser-desc-container {
  margin-left: 5px;
  width: calc(100% - 110px);
}

.carduser-desc-container h6 {
  font-size: 11px;
  margin-bottom: 2px;
}

.carduser-desc-container p {
  font-size: 10px;
  color: #fff;
  margin: 0;
}

.carduser-contato {
  display: flex;
  align-items: center;
}

.carduser-contato svg {
  width: 10px;
  margin-right: 5px;
}

.carduser-bt-container {
  height: 55px;
  border-radius: 0 10px 10px 0;
  width: 45px;
  background-color: #363636;
  border: none;
}

.carduser-bt-container svg {
  width: 20px;
}

@media (min-width: 576px) {
  .carduser-container {
    width: calc(100vw - 230px);
  }
}

@media (min-width: 768px) {
  .carduser-container {
    margin: 10px 0 20px 10px;
    width: auto;
  }
}

@media (min-width: 992px) {
  .carduser-container {
    margin: 10px 0 20px 10px;
    width: auto;
    height: 80px;
  }
  .carduser-img-container img {
    width: 30%;
  }

  .carduser-img-container img {
    width: 90px;
    border-radius: 10px 0 0 10px;
  }

  .carduser-desc-container h6 {
    font-size: 14px;
  }

  .carduser-desc-container p {
    font-size: 12px;
  }

  .carduser-contato svg {
    width: 15px;
  }

  .carduser-bt-container {
    width: 55px;
  }

  .carduser-bt-container svg {
    width: 30px;
  }
}
