.login-form-container {
  margin: 15px;
  height: 600px;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-img-container {
  width: 80%;
  margin-bottom: 20px;
}
