.cadcliente-page {
  width: calc(100vw - 75px);
  height: calc(100vh - 60px);
  padding: 15px;
  overflow: auto;
}

.actionbar-container {
  padding: 0 10px 0 10px;
  align-items: center;
}

.infobar-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.infobar-container h5 {
  margin-left: 20px;
  font-size: 15px;
}

@media (min-width: 576px) {
  .cadcliente-page {
    width: calc(100vw - 210px);
  }
}

@media (min-width: 992px) {
  .actionbar-container {
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
  }

  .actionbar-container {
    display: flex;
  }

  .infobar-container {
    border-bottom: none;
  }
}
